extends layout.pug 

block content 
  main.main 
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dignissimos repudiandae non praesentium. Neque error architecto natus, veritatis impedit consequatur.

    a(href="/create-note" class="create_note_btn") Create note