html 
  head 
    title=title 
    link(rel="stylesheet" href="/static/styles.css")

  body 
    header 
      a(href="/" class= "logo")  Note app
      nav 
        ul 
          li.nav-link 
            a(href="/notes") Notes 
          li.nav-link 
            a(href="/archive") Archive

block content  
